.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/intro-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    min-height: 100vh !important;
}

.bg-dark {
    background-color: #111418 !important;
}

.hero-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.opacity-8 {
    opacity: 0.8;
}

.hero-wrap .hero-mask {
    z-index: 1;
}

.hero-content {
    z-index: 9;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 70px;
}

.hero-content span {
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-buttons {
    padding: 40px 0;
}

.hero-buttons .hire {
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
    border: 2px solid #fff;
}

.hero-buttons .hire:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light overlay */
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.hero-buttons .connect-me {
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 15px;
}   

.hero-buttons .connect-me:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.hero-content h3 {
    font-size: 1.75rem;
    text-transform: uppercase;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .hero-content h1 {
        font-size: 29px;
    }
    .nav-bar.sticky .hamburger .bar {
        background: #000;
    }
}